@font-face {
    font-family: 'SF pro Display';
    src: url(../storage/Fonts/SFPRODISPLAYBOLD.OTF);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
body{
    background-color: #f5f5f7;
}

header {
    padding: 0px;
    display: flex;
    width: 100%;
    margin: 0 auto;
    background: rgba(22, 22, 22);
}
.lista {
    display: flex;
    width: 100%;
    background-color: rgba(22, 22, 22);
    justify-content: flex-end;
}
.lista nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.lista a{
    color: rgba(255, 255, 255, .8);
    cursor: pointer;
    position: relative;
    text-decoration: none;
}
.lista a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    background-color: white;
    height: 3.5px;
    transition: 0.3s linear;
}

.lista a:hover::before,
.lista a:hover{
    color: white;
    width: 100%;
} 
.lista nav ul{
    display: flex;
    flex-direction: row;
}
.lista nav ul li{
    margin: 0px 30px;
    list-style-type: none;
}
.menu1 {
    height: 400px;
    display: flex;
    justify-content: center;
    width: 100%;
    Background-image: url(../../storage/img/Fondo.jpg);
    background-size: cover;
}
.menu1 .submenu1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.menu1 .submenu1 h2{
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 48px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #f5f5f7;
}
.appleWatch{
    display: flex;
}
.menu1 .submenu1 p{
    margin-top: 7px;
    font-size: 24px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.menu1 .submenu1 button{
    padding-inline: 22px;
    padding-block: 12px;
    color: white;
    margin-top: 20%;
    border: none;
    outline: none;
    border-radius: 980px;
    background: rgb(0,113,227);
    font-weight: 300;
}
.menu2{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.menu2 .submenu2{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.menu2 .submenu2 h2{
    font-size: 30px;
}
.menu2 .submenu2 p{
    font-size: 21px;
    text-align: center;
    color: #86868b;
}
.menu2 .submenu3{
    width: 50%;
    height: 267.75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
} 
.menu2 .submenu3 div{
    display: flex;
    flex-direction: row;
}
.menu2 .submenu3 h2{
    font-size: 30px;
}
.menu2 .submenu3 div picture{
    margin-right: 35px;
}
.menu2 .submenu3 div p{
    color: #86868b;
    display: flex;
    align-items: center;
    width: 200px;
    text-align: center;
    text-justify: center;
}
.airPods p{
    margin-left: 50px;
}
.menu3{
    display: flex;
    justify-content: space-between;
    
}
.menu3 .submenu4{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu3 .submenu4 h1{
    font-size: 30px;
}
.menu3 .submenu4 .tabla{
    table-layout: fixed;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    height: 300px;
    overflow-y: scroll;
}
.thead{
    background-color: #246355;
    color: #f5f5f7;
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover{
    background-color: #369681;
    color: white;
}
.tabla td, .tabla th {
    border: 1px solid ;
    padding: 8px; 
    text-align: left;
  }
.menu4 .submenu4 div{
    width: 100px;
    display: flex;
    flex-direction: row;
}
.menu3 .submenu4 .redesSociales{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    justify-content: space-between;
}
.menu3 .submenu4 .redesSociales li{
    list-style: none;
    margin: 0px 56px;
}

.menu3 .submenu5{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
}
.formulario h3{
    font-size: 30px;
}

.formulario .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}
input:focus ~ label,
input:focus ~ label{
    top: -5px;
}

.formulario .email{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.formulario .text{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.formulario button{
    padding-inline: 22px;
    padding-block: 12px;
    color: white;
    border: none;
    outline: none;
    border-radius: 980px;
    background: rgb(0,113,227);
    font-weight: 300;
}
.menu4 {
    display: flex;
    justify-content: space-between;
}
.tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border-bottom: 2px solid #adadad;
}
.tabla h3{
    font-size: 30px;
}
.tabla ul li{
    color: rgba(0, 0, 0, 0.72);
    font-size: 20px;
}
footer p{
    color: rgba(0, 0, 0, 0.56);
}